@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-nunito);

  --radius-lg: 1rem;
  --radius-md: calc(1rem - 2px);
  --radius-sm: calc(1rem - 4px);

  --color-background: hsl(204 100% 97%);
  --color-foreground: hsl(215 28% 17%);

  --color-primary: hsl(199 89% 48%);
  --color-primary-foreground: hsl(210 40% 98%);

  --color-secondary: hsl(142 71% 45%);
  --color-secondary-foreground: hsl(210 40% 98%);

  --color-accent: hsl(27 96% 53%);
  --color-accent-foreground: hsl(210 40% 98%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(215 28% 17%);
}

/*
  Base styles
*/
@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}